<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
">
    <bean id="mymessage" class="spring.Message">
       <constructor-arg index="1" value="1" type="int"/>
        <constructor-arg index="0" value="type"/>
   </bean> 
   
   <bean id="helloWorld" class="spring.HelloWorld">
       <property name="message" > 
           <bean class="spring.Message">
               <constructor-arg index="1" value="1" name="type"/>
               <constructor-arg index="0" value="type"/>
           </bean> 
       </property> 
   </bean>    
    
</beans> 
